# Variable

# How to assign variables

In [3]:
x=22
print(x)

22

In [46]:
x=22
print(x*10)

220

In [47]:
x=22
print(x/2)

11.0

In [48]:
x=22
print(x+10)

32

In [5]:
#one variables to multiple value

x=(1,2,3)

print(x)

(1, 2, 3)

In [6]:
#multiple variables to multiple values

x,y,z=15,20,25

print(x)
print(y)
print(z)

15
20
25

In [9]:
#multiple variables to one value
x=y=z =15

print(x)
print(y)
print(z)

15
15
15

In [8]:
x= 'I love strawberry'

print(x)

I love strawberry

In [10]:
x= 'I'
y= 'love'
z= 'strawberry'

print(x)
print(y)
print(z)

I
love
strawberry

In [14]:
#overriding variables
x='name'

x='house'
print(x)

house

# Do's and Dont's in naming variables

In [15]:
#Do's

#Methods of writing variable names
#carmel case: starts with lower letter whereby using capital letter inbetween

leamStudentClass= 20

print(leamStudentClass)

20

In [16]:
#pascal case: similar to carmel case but starts with capital letter then using small letter althrough

Leamstudentclass= 'excellent'

print(Leamstudentclass)

excellent

In [19]:
#snake case: allows the use of underscore, not worrying about case sensitive but using underscore as separator

leam_student_class= 'impressive'

print(leam_student_class)

impressive

In [28]:
#Can use underscore at the beginning of your variable name

_leam_student='great'

print(_leam_student)

great

In [26]:
#Can join variables together

x= 'i'
y= 'love'
z= 'chocolate'

print(x+y+z)

ilovechocolate

In [20]:
#Dont's
#In naming variables, you cannot add space
#Cannot start with numbers
#Cannot use any characters (e.g, .), only acceptable one is underscore
#Cannot have numbers ibetween your variables but can have numbers at the end of your variables
#Cannot add a string and integer together

leam student class=15
2leamstudents
leam2students

SyntaxError: invalid decimal literal (1336079428.py, line 9)

In [21]:
x= 'Toy Story' + 2

print(x)

TypeError: can only concatenate str (not "int") to str

In [23]:
x= 'Toy Story' + ' moana'

print(x)

Toy Story moana

In [24]:
x= 'Toy Story' + '.'

print(x)

Toy Story.

In [25]:
x= 15+20

print(x)

35

In [27]:
#Joing of intergers and strings

x= 'Toy Story'
y= 2

print(x,y)

Toy Story 2

In [29]:
#Anything in quotation automatically becomes a string

x= '2Toy Story' + ' 2Moana'
print(x)

2Toy Story 2Moana

# Data Types

In [32]:
#1. String

#1. Single quotation
x='house'
x

'house'

In [33]:
#2. Double quotation
x="home"
x

'home'

In [34]:
x= 'I've always loved vanilla'
x

SyntaxError: unterminated string literal (detected at line 1) (3436719858.py, line 1)

In [35]:
x= "I've always loved vanilla"
x

"I've always loved vanilla"

In [36]:
x= """I always "loved" vanilla"""
x

'I always "loved" vanilla'

In [39]:
x= '''I've always ''loved'' vanilla'''
x

"I've always ''loved'' vanilla"

In [40]:
#3. Triple quotation 

x= """twinkle twinkle little star
    how i wonder what you are
    up above the world so high
    like a diamond in the sky
    """

x

'twinkle twinkle little star\n    how i wonder what you are\n    up above the world so high\n    like a diamond in the sky\n    '

In [43]:
multiline= """twinkle twinkle little star
              how i wonder what you are
              up above the world so high
              like a diamond in the sky
              """

print(multiline)

twinkle twinkle little star
              how i wonder what you are
              up above the world so high
              like a diamond in the sky

In [44]:
x="home"

print(x*5)

homehomehomehomehome

In [45]:
x="home"

print(x+x)

homehome

In [51]:
#counting the strings
x='impressive lady'

print(x[0:7])

impress

In [52]:
#counting from the back
x='impressive lady'

print(x[-3])

a

In [53]:
#counting from back
x='impressive lady'

print(x[-3:])

ady

In [54]:
#counting from front
x='impressive lady'

print(x[:-3])

impressive l

In [ ]:
an integer can be converted to a float if the integer is in decimal place

In [ ]:
# 2. Numbers

1. Integer
2. Float
3. Complex number

In [56]:
x=15

type(x)

int

In [57]:
y=(12+100/6)
print(y)

28.666666666666668

In [58]:
type(y)

float

In [59]:
y=(12+3j)

type(y)

complex

In [ ]:
complex number is used to calculate an imaginary number and it is not commonly used and j is the only alphabet that can be used with it

In [61]:
# 3. Boolean; it gives true or false statement

z= (5>2)
type(z)
z

True

In [64]:
h= 100>5000
h

False

In [67]:
# 4. Lists; they are identified by square brackets, can store multiple values, they are mutable i.e can add and remove, can write different data types

leam_student = [ 'blessing', 3, 4.0, 'precious', 'Samuel', True]
type(leam_student)

list

In [70]:
#You can have a list inside a list

leam_student = [ 'blessing', 3, 4.0, 'precious',['Jones', 'Boluwatife'], 'Samuel', True]

leam_student

['blessing', 3, 4.0, 'precious', ['Jones', 'Boluwatife'], 'Samuel', True]

In [71]:
leam_student[2]

4.0

In [72]:
leam_student[4][1]

'Boluwatife'

In [ ]:
# Append 
adding attribute in python i.e performing a function on the same variable, add to the list but only at the end

In [77]:
leam_student.append('oluwaseun')

print(leam_student)

['blessing', 3, 4.0, 'precious', ['Jones', 'Boluwatife'], 'Samuel', True, 'oluwaseun']

In [87]:
del leam_student[1]

In [88]:
print(leam_student)

['blessing', 4.0, ['Jones', 'Boluwatife']]

In [89]:
# Insert

leam_student.insert(0, 'miriam')

print(leam_student)

['miriam', 'blessing', 4.0, ['Jones', 'Boluwatife']]

In [90]:
leam_student.insert(9, 'miriam')

print(leam_student)

['miriam', 'blessing', 4.0, ['Jones', 'Boluwatife'], 'miriam']

In [91]:
#how to replace a string 

leam_student[0] = 'emmanuel'

print(leam_student)

['emmanuel', 'blessing', 4.0, ['Jones', 'Boluwatife'], 'miriam']

In [92]:
leam_student[3] = 'emmanuel'

print(leam_student)

['emmanuel', 'blessing', 4.0, 'emmanuel', 'miriam']

In [93]:
# 4. Tuples; it is representated using parenthesis

age= (10,20,30,40)

type(age)

tuple

In [94]:
age= (10,20,30,40)

print(age)

(10, 20, 30, 40)

In [95]:
size= (15,5,8,10)

print(age+size)

(10, 20, 30, 40, 15, 5, 8, 10)

In [97]:
country= ('rome', 'usa', 'canada')
print(country)

('rome', 'usa', 'canada')

In [98]:
city= ('ontario', 'pennslyvania', 'atlanta', 'venice')

print(country+city)

('rome', 'usa', 'canada', 'ontario', 'pennslyvania', 'atlanta', 'venice')

In [ ]:
# 5. Sets 
"""represented with curly bracket, does not have duplicate element, 
values cannot be assessed using index cos its unordered, does not have position attached to it i.e mutable"""

In [106]:
my_daily_goal = {15, 2, 4, 5, 8,1,28,31, 3}

print(my_daily_goal)

{1, 2, 3, 4, 5, 8, 15, 28, 31}

In [107]:
type(my_daily_goal)

set

In [105]:
daily_goal= {2,1,3,4,5,6,91,21,41,31}

print(daily_goal)

{1, 2, 3, 4, 5, 6, 41, 21, 91, 31}

In [110]:
#bring matching numbers
print(my_daily_goal & daily_goal)

{1, 2, 3, 4, 5, 31}

In [111]:
#bring out unique values with both set
print(my_daily_goal | daily_goal)

{1, 2, 3, 4, 5, 6, 8, 15, 21, 91, 28, 31, 41}

In [112]:
#bring out only missing values in my daily goal
print(my_daily_goal - daily_goal)

{8, 28, 15}

In [113]:
#bring out only missing values in daily goal
print(daily_goal - my_daily_goal)

{41, 91, 21, 6}

In [114]:
#brings out unmatching values and bring them together
print(my_daily_goal ^ daily_goal)

{6, 8, 41, 15, 21, 91, 28}

In [115]:
# 6. Dictionary; also representated by curly bracket

#Key-value pair

leam_students= {'names': 'Samuel',
               'age': 10,
               'country': 'USA'
               }

print(leam_students)

{'names': 'Samuel', 'age': 10, 'country': 'USA'}

In [116]:
leam_students.values()

dict_values(['Samuel', 10, 'USA'])

In [117]:
leam_students.keys()

dict_keys(['names', 'age', 'country'])

In [119]:
leam_students.items()

dict_items([('names', 'Samuel'), ('age', 10), ('country', 'USA')])

In [121]:
#To update in dictionary for just one value
leam_students['country'] = 'UK'

print(leam_students)

{'names': 'Samuel', 'age': 10, 'country': 'UK'}

In [123]:
#To update in dictionary for just all value

leam_students.update({'names': 'Blessing', 'age': 20, 'country': 'ROME'})

In [124]:
print(leam_students)

{'names': 'Blessing', 'age': 20, 'country': 'ROME'}